In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import wbgapi as wb

In [11]:
! pip install sqlalchemy
! pip install pymysql

Collecting sqlalchemy

WARNING: You are using pip version 21.1.1; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\users\rober\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

  Downloading SQLAlchemy-2.0.23-cp39-cp39-win_amd64.whl (2.1 MB)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\rober\appdata\roaming\python\python39\site-packages (from sqlalchemy) (4.8.0)
Collecting greenlet!=0.4.17
  Downloading greenlet-3.0.3-cp39-cp39-win_amd64.whl (290 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.23
Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

WARNING: You are using pip version 21.1.1; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\users\rober\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [15]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.cursors
import os
import urlib.parse

ModuleNotFoundError: No module named 'mysql'

In [ ]:
help(wb)

In [ ]:
wb.source.info()

In [ ]:
wb.economy.info()

In [ ]:
wb.region.info()

In [ ]:
wb.series.info()

In [ ]:
wb.series.info(q="gender")

In [8]:
wb.series.info(q='forest') # query

id                 value
-----------------  ------------------------------------------------------------------------------
AG.LND.FRST.K2     Forest area (sq. km)
AG.LND.FRST.ZS     Forest area (% of land area)
NV.AGR.EMPL.KD     Agriculture, forestry, and fishing, value added per worker (constant 2015 US$)
NV.AGR.TOTL.CD     Agriculture, forestry, and fishing, value added (current US$)
NV.AGR.TOTL.CN     Agriculture, forestry, and fishing, value added (current LCU)
NV.AGR.TOTL.KD     Agriculture, forestry, and fishing, value added (constant 2015 US$)
NV.AGR.TOTL.KD.ZG  Agriculture, forestry, and fishing, value added (annual % growth)
NV.AGR.TOTL.KN     Agriculture, forestry, and fishing, value added (constant LCU)
NV.AGR.TOTL.ZS     Agriculture, forestry, and fishing, value added (% of GDP)
NY.ADJ.DFOR.CD     Adjusted savings: net forest depletion (current US$)
NY.ADJ.DFOR.GN.ZS  Adjusted savings: net forest depletion (% of GNI)
NY.GDP.FRST.RT.ZS  Forest rents (% of GDP)
                   12 elements

In [2]:
business = wb.data.DataFrame('IC.REG.DURS', wb.region.members('ECS'))
business.head()

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,...,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022
economy,,,,,,,,,,,,,,,,,,,,,
ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,5.0,5.0,5.0,5.0,4.5,4.5,NaN,NaN,NaN
AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,5.0,5.0,5.0,5.0,4.0,4.0,NaN,NaN,NaN
AUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.0,22.0,22.0,21.0,21.0,21.0,21.0,NaN,NaN,NaN
AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,5.5,3.5,3.5,3.5,3.5,3.5,NaN,NaN,NaN

In [3]:
co2_emissions = wb.data.DataFrame('EN.ATM.CO2E.KD.GD', ['AFG', 'ARG','BRA','CHN','DEU','FRA','GBR','JPN','LBN','POL','UKR','URY','USA'], time=range(2010,2021))
co2_emissions.head()

,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,
AFG,0.558539,0.775735,0.587130,0.512087,0.492105,0.525634,0.475038,0.499027,0.539886,0.532180,0.422340
ARG,0.302542,0.301475,0.306867,0.308585,0.310225,0.311980,0.314502,0.299382,0.303360,0.294272,0.300143
BRA,0.233644,0.236213,0.251672,0.261872,0.273817,0.269305,0.256473,0.257998,0.241325,0.238678,0.235299
CHN,1.121895,1.121678,1.068805,1.037375,0.969723,0.891309,0.834316,0.798186,0.783141,0.752836,0.748794
DEU,0.250349,0.232607,0.235873,0.239796,0.222479,0.221086,0.217671,0.207749,0.198865,0.183107,0.174396

In [4]:
as_natural_resources_depletion = wb.data.DataFrame('NY.ADJ.DRES.GN.ZS', ['AFG', 'ARG','BRA','CHN','DEU','FRA','GBR','JPN','LBN','POL','UKR','URY','USA'], time=range(2010,2021))
as_natural_resources_depletion.head()

,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,
AFG,0.359454,0.386644,0.380988,0.335091,0.315571,0.290261,0.363282,0.350879,0.401053,0.370131,0.243668
ARG,2.574009,3.118222,2.927248,2.537369,2.361430,0.841522,0.662926,0.748123,1.563824,1.667223,0.979579
BRA,1.678141,2.175244,1.961477,1.787972,1.749798,1.112645,1.028834,1.249054,1.898755,1.759773,1.314163
CHN,3.894283,4.901801,2.469609,1.840828,1.413859,0.705546,0.602689,0.722467,0.834345,0.722276,0.475069
DEU,0.076180,0.098620,0.078899,0.059799,0.039822,0.027278,0.018549,0.023560,0.027858,0.047727,0.039652

In [6]:
water_depletion = wb.data.DataFrame('ER.H2O.FWST.ZS', ['AFG', 'ARG','BRA','CHN','DEU','FRA','GBR','JPN','LBN','POL','UKR','URY','USA'], time=range(2010,2021))
water_depletion.head()

,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,
AFG,54.757019,54.757019,54.757019,54.757019,54.757019,54.757019,54.757019,54.757019,54.757019,54.757019,54.757019
ARG,10.271530,10.456664,10.456664,10.456664,10.456664,10.456664,10.456664,10.456664,10.456664,10.456664,10.456664
BRA,3.535260,3.419178,3.303097,3.187015,3.074326,3.019385,3.135225,3.105437,1.464113,1.484808,1.479304
CHN,42.858708,43.455398,43.732928,44.025065,43.338543,43.221688,44.114167,43.544500,43.302756,43.975402,41.518529
DEU,45.216557,41.716009,38.213633,34.712171,34.308754,33.905336,33.501919,33.501919,33.501919,33.501919,33.501919

In [3]:
renewable_energy_consumption = wb.data.DataFrame('EG.FEC.RNEW.ZS', ['AFG', 'ARG','BRA','CHN','DEU','FRA','GBR','JPN','LBN','POL','UKR','URY','USA'], time=range(2010,2021))
renewable_energy_consumption.head()

,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,
AFG,15.15,12.61,15.36,16.86,18.93,17.53,19.92,19.21,17.96,18.51,17.58
ARG,8.79,8.83,8.61,8.91,9.79,9.40,9.38,10.37,10.52,10.74,9.84
BRA,46.81,45.26,43.49,42.32,41.71,43.62,45.46,45.33,46.95,47.58,50.05
CHN,12.26,11.34,11.53,11.47,11.91,12.18,12.60,13.14,13.55,14.33,14.81
DEU,11.61,12.54,13.64,13.63,14.02,14.55,14.24,15.22,16.04,17.07,18.60

In [10]:
forest_area = wb.data.DataFrame('AG.LND.FRST.K2', ['AFG', 'ARG','BRA','CHN','DEU','FRA','GBR','JPN','LBN','POL','UKR','URY','USA'], time=range(2010,2021))
forest_area.head()

,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
economy,,,,,,,,,,,
AFG,12084.4,12084.40,12084.40,12084.40,12084.40,12084.4,12084.40,12084.4,12084.4,12084.4,12084.4
ARG,302140.0,299906.00,297672.00,295438.00,293204.00,290970.0,290100.00,288990.0,287910.0,286810.0,285730.0
BRA,5115807.0,5100415.20,5085023.40,5069631.60,5054239.80,5038848.0,5020821.00,5000916.0,4990514.0,4977985.0,4966196.0
CHN,2006103.8,2025471.54,2044839.28,2064207.02,2083574.76,2102942.5,2124598.67,2143394.7,2162190.4,2180986.1,2199781.8
DEU,114090.0,114110.00,114130.00,114150.00,114170.00,114190.0,114190.00,114190.0,114190.0,114190.0,114190.0

In [ ]:
ren.plot.bar(figsize=(8,4))

In [ ]:
ren.T.plot()

In [ ]:
type(business)

In [ ]:
business.shape

In [ ]:
axis
axes

In [ ]:
business.sort_values(by=['YR2019'],ascending=True)[10:11]

In [ ]:
g5 = business.sort_values(by=['YR2019'],ascending=True)[10:11]
ax = business.T.plot(color='lightgray', legend=False)
g5.T.plot(ax=ax, figsize=(15,5))