In [1]:
import pandas as pd
from sqlalchemy import create_engine 
import pymysql.cursors
import os
import getpass
import urllib.parse
import matplotlib.pyplot as plt
import wbgapi as wb

In [2]:
pw_raw = os.getenv('myslqp')
pw = urllib.parse.quote_plus(pw_raw)

In [3]:
# pw = getpass.getpass("myslqp")

In [4]:
#engine = sqlalchemy.create_engine(f"mysql://{username}:{password}@{host}:{port}")

connection_string = 'mysql+pymysql://root:' + pw + '@localhost:3306/'
engine = create_engine(connection_string)

In [5]:
with engine.connect() as conn:
    conn.execute(f"CREATE DATABASE IF NOT EXISTS a_new_db_412")

ObjectNotExecutableError: Not an executable object: 'CREATE DATABASE IF NOT EXISTS a_new_db_412'

In [6]:
df = pd.DataFrame({'Column1':[12,23,45]})

In [7]:
df

   Column1
0       12
1       23
2       45

In [8]:
df.to_sql('our_new_table',engine, 'ironhack2', if_exists='replace', index=False)

C:\Users\rober\AppData\Local\Temp\ipykernel_11492\2754463456.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  df.to_sql('our_new_table',engine, 'ironhack2', if_exists='replace', index=False)

3

In [9]:
# 
sql = """
select * from classicmodels.payments, count(*) as volume
from alchemy_test.admission_predict
group by 1
"""

In [10]:
sql = """
select * from classicmodels.payments
"""

In [11]:
new_df = pd.read_sql_query(sql, engine)

In [ ]:
new_df

In [13]:
newdf2=pd.read_sql_table("payments", engine,"classicmodels")
newdf2

     customerNumber checkNumber paymentDate    amount
0               103    HQ336336  2004-10-19   6066.78
1               103    JM555205  2003-06-05  14571.44
2               103    OM314933  2004-12-18   1676.14
3               112    BO864823  2004-12-17  14191.12
4               112     HQ55022  2003-06-06  32641.98
..              ...         ...         ...       ...
268             495    BH167026  2003-12-26  59265.14
269             495    FN155234  2004-05-14   6276.60
270             496    EU531600  2005-05-25  30253.75
271             496    MB342426  2003-07-16  32077.44
272             496     MN89921  2004-12-31  52166.00

[273 rows x 4 columns]

In [ ]:
wb.series.info(q='forest')

In [25]:
co2_emissions = wb.data.DataFrame('EN.ATM.CO2E.KD.GD', ['AFG', 'ARG','BRA','CHN','DEU','FRA','GBR','JPN','LBN','POL','UKR','URY','USA'], time=range(2010,2021))
co2_emissions.head()
co2_emissions.reset_index().to_sql('co2_emissions', engine, 'sustainable_var', if_exists='replace', index=False)

C:\Users\rober\AppData\Local\Temp\ipykernel_11492\684807842.py:3: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  co2_emissions.reset_index().to_sql('co2_emissions', engine, 'sustainable_var', if_exists='replace', index=False)

13

In [28]:
natural_resources_depletion = wb.data.DataFrame('NY.ADJ.DRES.GN.ZS', ['AFG', 'ARG','BRA','CHN','DEU','FRA','GBR','JPN','LBN','POL','UKR','URY','USA'], time=range(2010,2021))
natural_resources_depletion.head()
natural_resources_depletion.reset_index().to_sql('natural_resources_depletion', engine, 'sustainable_var', if_exists='replace', index=False)

C:\Users\rober\AppData\Local\Temp\ipykernel_11492\1505934650.py:3: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  natural_resources_depletion.reset_index().to_sql('natural_resources_depletion', engine, 'sustainable_var', if_exists='replace', index=False)

13

In [29]:
water_depletion = wb.data.DataFrame('ER.H2O.FWST.ZS', ['AFG', 'ARG','BRA','CHN','DEU','FRA','GBR','JPN','LBN','POL','UKR','URY','USA'], time=range(2010,2021))
water_depletion.head()
water_depletion.reset_index().to_sql('water_depletion', engine, 'sustainable_var', if_exists='replace', index=False)

C:\Users\rober\AppData\Local\Temp\ipykernel_11492\500807005.py:3: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  water_depletion.reset_index().to_sql('water_depletion', engine, 'sustainable_var', if_exists='replace', index=False)

13

In [30]:
renewable_energy_consumption = wb.data.DataFrame('EG.FEC.RNEW.ZS', ['AFG', 'ARG','BRA','CHN','DEU','FRA','GBR','JPN','LBN','POL','UKR','URY','USA'], time=range(2010,2021))
renewable_energy_consumption.head()
renewable_energy_consumption.reset_index().to_sql('renewable_energy_consumption', engine, 'sustainable_var', if_exists='replace', index=False)

C:\Users\rober\AppData\Local\Temp\ipykernel_11492\2955697149.py:3: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  renewable_energy_consumption.reset_index().to_sql('renewable_energy_consumption', engine, 'sustainable_var', if_exists='replace', index=False)

13

In [31]:
forest_area = wb.data.DataFrame('AG.LND.FRST.K2', ['AFG', 'ARG','BRA','CHN','DEU','FRA','GBR','JPN','LBN','POL','UKR','URY','USA'], time=range(2010,2021))
forest_area.head()
forest_area.reset_index().to_sql('forest_area', engine, 'sustainable_var', if_exists='replace', index=False)

C:\Users\rober\AppData\Local\Temp\ipykernel_11492\921810812.py:3: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  forest_area.reset_index().to_sql('forest_area', engine, 'sustainable_var', if_exists='replace', index=False)

13