In [2]:
import pandas as pd
from sqlalchemy import create_engine 
import pymysql.cursors
import os
import getpass
import urllib.parse
import matplotlib.pyplot as plt
import wbgapi as wb

In [3]:
pw_raw = os.getenv('MySQLpwd')
pw = urllib.parse.quote_plus(pw_raw)

In [4]:
# pw = getpass.getpass("myslqp")

In [5]:
#engine = sqlalchemy.create_engine(f"mysql://{username}:{password}@{host}:{port}")

connection_string = 'mysql+pymysql://root:' + pw + '@localhost:3306/'
engine = create_engine(connection_string)

In [6]:
with engine.connect() as conn:
    conn.execute(f"CREATE DATABASE IF NOT EXISTS a_new_db_412")

In [7]:
df = pd.DataFrame({'Column1':[12,23,45]})

In [8]:
df

   Column1
0       12
1       23
2       45

In [11]:
df.to_sql('our_new_table',engine, 'ironhack2', if_exists='replace', index=False)

OperationalError: (pymysql.err.OperationalError) (1049, "Unknown database 'ironhack2'")
[SQL:
CREATE TABLE ironhack2.our_new_table (
	`Column1` BIGINT
)

]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [12]:
# 
sql = """
select * from classicmodels.payments, count(*) as volume
from alchemy_test.admission_predict
group by 1
"""

In [13]:
sql = """
select * from classicmodels.payments
"""

In [14]:
new_df = pd.read_sql_query(sql, engine)

In [15]:
new_df

     customerNumber checkNumber paymentDate    amount
0               103    HQ336336  2004-10-19   6066.78
1               103    JM555205  2003-06-05  14571.44
2               103    OM314933  2004-12-18   1676.14
3               112    BO864823  2004-12-17  14191.12
4               112     HQ55022  2003-06-06  32641.98
..              ...         ...         ...       ...
268             495    BH167026  2003-12-26  59265.14
269             495    FN155234  2004-05-14   6276.60
270             496    EU531600  2005-05-25  30253.75
271             496    MB342426  2003-07-16  32077.44
272             496     MN89921  2004-12-31  52166.00

[273 rows x 4 columns]

In [16]:
newdf2=pd.read_sql_table("payments", engine,"classicmodels")
newdf2

     customerNumber checkNumber paymentDate    amount
0               103    HQ336336  2004-10-19   6066.78
1               103    JM555205  2003-06-05  14571.44
2               103    OM314933  2004-12-18   1676.14
3               112    BO864823  2004-12-17  14191.12
4               112     HQ55022  2003-06-06  32641.98
..              ...         ...         ...       ...
268             495    BH167026  2003-12-26  59265.14
269             495    FN155234  2004-05-14   6276.60
270             496    EU531600  2005-05-25  30253.75
271             496    MB342426  2003-07-16  32077.44
272             496     MN89921  2004-12-31  52166.00

[273 rows x 4 columns]

In [17]:
wb.series.info(q='forest')

id                 value
-----------------  ------------------------------------------------------------------------------
AG.LND.FRST.K2     Forest area (sq. km)
AG.LND.FRST.ZS     Forest area (% of land area)
NV.AGR.EMPL.KD     Agriculture, forestry, and fishing, value added per worker (constant 2015 US$)
NV.AGR.TOTL.CD     Agriculture, forestry, and fishing, value added (current US$)
NV.AGR.TOTL.CN     Agriculture, forestry, and fishing, value added (current LCU)
NV.AGR.TOTL.KD     Agriculture, forestry, and fishing, value added (constant 2015 US$)
NV.AGR.TOTL.KD.ZG  Agriculture, forestry, and fishing, value added (annual % growth)
NV.AGR.TOTL.KN     Agriculture, forestry, and fishing, value added (constant LCU)
NV.AGR.TOTL.ZS     Agriculture, forestry, and fishing, value added (% of GDP)
NY.ADJ.DFOR.CD     Adjusted savings: net forest depletion (current US$)
NY.ADJ.DFOR.GN.ZS  Adjusted savings: net forest depletion (% of GNI)
NY.GDP.FRST.RT.ZS  Forest rents (% of GDP)
                   12 elements

In [18]:
co2_emissions = wb.data.DataFrame('EN.ATM.CO2E.KD.GD', ['AFG', 'ARG','BRA','CHN','DEU','FRA','GBR','JPN','LBN','POL','UKR','URY','USA'], time=range(2010,2021))
co2_emissions.head()
co2_emissions.reset_index().to_sql('co2_emissions', engine, 'sustainable_var', if_exists='replace', index=False)

OperationalError: (pymysql.err.OperationalError) (1049, "Unknown database 'sustainable_var'")
[SQL:
CREATE TABLE sustainable_var.co2_emissions (
	economy TEXT,
	`YR2010` FLOAT(53),
	`YR2011` FLOAT(53),
	`YR2012` FLOAT(53),
	`YR2013` FLOAT(53),
	`YR2014` FLOAT(53),
	`YR2015` FLOAT(53),
	`YR2016` FLOAT(53),
	`YR2017` FLOAT(53),
	`YR2018` FLOAT(53),
	`YR2019` FLOAT(53),
	`YR2020` FLOAT(53)
)

]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
natural_resources_depletion = wb.data.DataFrame('NY.ADJ.DRES.GN.ZS', ['AFG', 'ARG','BRA','CHN','DEU','FRA','GBR','JPN','LBN','POL','UKR','URY','USA'], time=range(2010,2021))
natural_resources_depletion.head()
natural_resources_depletion.reset_index().to_sql('natural_resources_depletion', engine, 'sustainable_var', if_exists='replace', index=False)

In [ ]:
water_depletion = wb.data.DataFrame('ER.H2O.FWST.ZS', ['AFG', 'ARG','BRA','CHN','DEU','FRA','GBR','JPN','LBN','POL','UKR','URY','USA'], time=range(2010,2021))
water_depletion.head()
water_depletion.reset_index().to_sql('water_depletion', engine, 'sustainable_var', if_exists='replace', index=False)

In [ ]:
renewable_energy_consumption = wb.data.DataFrame('EG.FEC.RNEW.ZS', ['AFG', 'ARG','BRA','CHN','DEU','FRA','GBR','JPN','LBN','POL','UKR','URY','USA'], time=range(2010,2021))
renewable_energy_consumption.head()
renewable_energy_consumption.reset_index().to_sql('renewable_energy_consumption', engine, 'sustainable_var', if_exists='replace', index=False)

In [19]:
forest_area = wb.data.DataFrame('AG.LND.FRST.K2', ['AFG', 'ARG','BRA','CHN','DEU','FRA','GBR','JPN','LBN','POL','UKR','URY','USA'], time=range(2010,2021))
forest_area.head()
forest_area.reset_index().to_sql('forest_area', engine, 'sustainable_var', if_exists='replace', index=False)

OperationalError: (pymysql.err.OperationalError) (1049, "Unknown database 'sustainable_var'")
[SQL:
CREATE TABLE sustainable_var.forest_area (
	economy TEXT,
	`YR2010` FLOAT(53),
	`YR2011` FLOAT(53),
	`YR2012` FLOAT(53),
	`YR2013` FLOAT(53),
	`YR2014` FLOAT(53),
	`YR2015` FLOAT(53),
	`YR2016` FLOAT(53),
	`YR2017` FLOAT(53),
	`YR2018` FLOAT(53),
	`YR2019` FLOAT(53),
	`YR2020` FLOAT(53)
)

]
(Background on this error at: https://sqlalche.me/e/14/e3q8)